@model InscricoesOnline.Models.Evento

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row evento-detalhe">
        <div class="col-lg-6">
            <img src="~/Static/Brazil Open 2019.png" style="max-width: 100%" />
        </div>

        <div class="col-lg-6">
            <h1>@Model.Titulo.ToUpper()</h1>
            <hr />

            <div class="descricao">
                MARINGÁ - PR 18 A 20.OUTUBRO. <br />
                <br />
                Maior evento de <b>TAEKWONDO</b> da América do Sul, neste ano completa sua 24° edição. <br />
                <br />
                Homologado pela CBTKD e FPTKD. Vale ➡7 pontos para o ranking estadual (Paraná) e ➡vaga para o Grand Slam.<br />
                <br />
                Também será realizado o <b>2° Festival Brazil Open Parataekwondo</b>. E apresentação especial da Equipe da Coréia do Sul em homenagem aos 100 anos da Proclamação da Independência da Coréia e 60 anos da Aliança com o Brasil.<br />
                <br />
                INFORMAÇÕES:<br />
                🔊BRAZIL OPEN <br />
                (43) 99933-0099  <br />
                (44) 99760-8950 <br />
                brazilopentkdoficial@gmail.com<br />
                @@brazilopentaekwondo<br />
                <br />
                🔊SELETIVA NACIONAL ABERTA <br />
                (21) 3594-6958 <br />
                cbtkd@cbtkd.com.br<br />

                <br />
                <p><span style="font-size:22px"><a href="http://www.paranatkd.com.br/static/Uploads/Site/Arquivos/Oficio%20XXIII%20BRAZIL%20OPEN%20-%20Maring%C3%A1%20-%202019.pdf" target="_blank">*** CLIQUE PARA ACESSAR O OF&Iacute;CIO ***</a></span></p>
            </div>
            <br />
            @*@Model.DataFimAlteracoes.Value.ToShortDateString() <br />*@
            @if (Model.DataInicioInscricoes <= DateTime.Now && DateTime.Now <= Model.DataFimInscricoes)
            {
                @Html.ActionLink("Inscrever", "Login", new { id = @Model.Id }, new { @class = "btn btn-primary" })
            }
        </div>
    </div>
</div>